#list {
  padding: 57px 27px;
  background-image: url(../images/react-logo-large.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #282D35;
  flex: 1 1 auto;
  color: #FFFFFF;
}

#list.light {
  background-color:white;
  background-image: url(../images/react-logo-large.png);
  color: #282D35;
}

.list-header {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
 
}


.list-facts {
  margin-top: 46px;
  max-width: 400px;
}

.list-facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.list-facts > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}
