.heading-section {
  display: flex;
  flex-direction: column;
}

.heading-grid {
  max-width: 600px;
  align-self: center;
}

.heading-header {
   margin-bottom: 16px;
   align-self: center;
}


.heading-text {
  margin-top: 0;
  align-self: center;
}
