.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-grid {
  max-width: 600px;
  align-self: center;
}

.hero-header {
   margin-bottom: 16px;
   align-self: center;
}


.hero-text {
  margin-top: 0;
  align-self: center;
}
